body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

header {
  background-color: green;
  padding: 1em;
  margin-bottom: 3em;
}

header h1 {
  text-align: center;
  color: white;
  margin: 0;
}

#stats {
  text-align: center;
  list-style-type: none;
}

#stats li {
  display: inline-block;
  margin-left: 20px;
}

canvas {
  margin: 0 auto;
  padding: 0;
  display: block;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  color: white;
  text-align: center;
}

#modal h3 {
  margin-top: 30vh;
}